<ion-header>
  <ion-toolbar>
    <ion-title>Users {{totalUsers}}</ion-title>

    <ion-buttons slot="primary" *ngIf="showResetButton">
      <ion-button (click)="reset()">
        <ion-icon slot="icon-only" color="primary" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <user-spinner *ngIf="showSpinner"></user-spinner>

  <ion-list *ngIf="!showSpinner">
    <user-row *ngFor="let user of state.users" 
      [user]="user"
      (handleClick)="openUserDetais($event)">
    </user-row>
  </ion-list>

  <div class="footer__show-more" (click)="showMore()" *ngIf="!showSpinner">Show More</div>
</ion-content>